
<!-- footer -->
<footer class="footer">
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-outer-wrap">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="" class="menu-title">КПРФ</a>
							<ul>
								<li><a href="">О нас</a></li>
								<li><a href="">Мероприятия</a></li>
								<li><a href="">Вступить в партию</a></li>
								<li><a href="">Контакты</a></li>
							</ul>
						</li>
						<li>
							<a href="" class="menu-title">Меню</a>
							<ul>
								<li><a href="">Пункт меню 1</a></li>
								<li><a href="">Пункт меню 2</a></li>
							</ul>
						</li>
						<li>
							<a href="" class="menu-title">Меню2</a>
							<ul>
								<li><a href="">Пункт меню 1</a></li>
								<li><a href="">Пункт меню 2</a></li>
								<li><a href="">Пункт меню 3</a></li>
								<li><a href="">Пункт меню 4</a></li>
							</ul>
						</li>
						<li>
							<a href="" class="menu-title">Блог</a>
							<ul>
								<li><a href="">Новости</a></li>
								<li><a href="">Статьи</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="contacts-wrap">
				<div class="cnt-title">Контакты</div>
				<div class="cnt-wrap">
					Страна, г. Город. <br>
					ул. Название д.37 <br>
					корпус 4
				</div>
				<div class="cnt-wrap">
					<span class="cnt-link"><a href="tel:0123456789">+012 345 67 89</a></span>
					<span class="cnt-link"><a href="tel:0123456789">+012 345 67 89</a></span>
					<span class="cnt-link"><a href="tel:0123456789">+012 345 67 89</a></span>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-wrap">© 2022 - Коммунистическая партия Российской федерации «КПРФ»</div>
			<div class="info-wrap">Сделано <a href="">«Веб Успех»</a></div>
		</div>
	</div>
</footer>
<!-- /footer -->

<div id="popup-message" class="popup-box">
	<form action="/" class="frm-popup">
		<div class="frm-title">Оставить обращение</div>
		<div class="frm-row">
			<div class="frm-field">
				<input type="text" class="form-input" placeholder="Имя">
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<input type="email" class="form-input" placeholder="Email">
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<div class="frm-field-file js-field-file">
					<input type="file">
					<a href="" class="btn button-file js-file-button" data-title="Прикрепить файл">Прикрепить файл</a>
				</div>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<textarea placeholder="Вопрос" class="form-input"></textarea>
			</div>
		</div>
		<div class="frm-row-submit">
			<button type="submit" class="btn">Отправить</button>
		</div>
	</form>
</div>


<div id="popup-point01" class="popup-box">
	<div class="popup-text-box">
		<div class="popup-title">Заголовок 01</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sit?</p>
		<p>dignissimos hic in iusto minima nesciunt quas quisquam! Aliquam, commodi consectetur consequatur cupiditate eligendi eos expedita fugiat harum incidunt ipsam, nisi non officia officiis perferendis porro quam quibusdam tempore vero voluptatem!</p>
	</div>
</div>
<div id="popup-point02" class="popup-box">
	<div class="popup-text-box">
		<div class="popup-title">Заголовок 02</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sit?</p>
		<p>dignissimos hic in iusto minima nesciunt quas quisquam! Aliquam, commodi consectetur consequatur cupiditate eligendi eos expedita fugiat harum incidunt ipsam, nisi non officia officiis perferendis porro quam quibusdam tempore vero voluptatem!</p>
	</div>
</div>
<div id="popup-point03" class="popup-box">
	<div class="popup-text-box">
		<div class="popup-title">Заголовок 03</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sit?</p>
		<p>dignissimos hic in iusto minima nesciunt quas quisquam! Aliquam, commodi consectetur consequatur cupiditate eligendi eos expedita fugiat harum incidunt ipsam, nisi non officia officiis perferendis porro quam quibusdam tempore vero voluptatem!</p>
	</div>
</div>
<div id="popup-point04" class="popup-box">
	<div class="popup-text-box">
		<div class="popup-title">Заголовок 04</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sit?</p>
		<p>dignissimos hic in iusto minima nesciunt quas quisquam! Aliquam, commodi consectetur consequatur cupiditate eligendi eos expedita fugiat harum incidunt ipsam, nisi non officia officiis perferendis porro quam quibusdam tempore vero voluptatem!</p>
	</div>
</div>
<div id="popup-point05" class="popup-box">
	<div class="popup-text-box">
		<div class="popup-title">Заголовок 05</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sit?</p>
		<p>dignissimos hic in iusto minima nesciunt quas quisquam! Aliquam, commodi consectetur consequatur cupiditate eligendi eos expedita fugiat harum incidunt ipsam, nisi non officia officiis perferendis porro quam quibusdam tempore vero voluptatem!</p>
	</div>
</div>
<div id="popup-point06" class="popup-box">
	<div class="popup-text-box">
		<div class="popup-title">Заголовок 06</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sit?</p>
		<p>dignissimos hic in iusto minima nesciunt quas quisquam! Aliquam, commodi consectetur consequatur cupiditate eligendi eos expedita fugiat harum incidunt ipsam, nisi non officia officiis perferendis porro quam quibusdam tempore vero voluptatem!</p>
	</div>
</div>
<div id="popup-point07" class="popup-box">
	<div class="popup-text-box">
		<div class="popup-title">Заголовок 07</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sit?</p>
		<p>dignissimos hic in iusto minima nesciunt quas quisquam! Aliquam, commodi consectetur consequatur cupiditate eligendi eos expedita fugiat harum incidunt ipsam, nisi non officia officiis perferendis porro quam quibusdam tempore vero voluptatem!</p>
	</div>
</div>
<div id="popup-point08" class="popup-box">
	<div class="popup-text-box">
		<div class="popup-title">Заголовок 08</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sit?</p>
		<p>dignissimos hic in iusto minima nesciunt quas quisquam! Aliquam, commodi consectetur consequatur cupiditate eligendi eos expedita fugiat harum incidunt ipsam, nisi non officia officiis perferendis porro quam quibusdam tempore vero voluptatem!</p>
	</div>
</div>
<div id="popup-point09" class="popup-box">
	<div class="popup-text-box">
		<div class="popup-title">Заголовок 09</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sit?</p>
		<p>dignissimos hic in iusto minima nesciunt quas quisquam! Aliquam, commodi consectetur consequatur cupiditate eligendi eos expedita fugiat harum incidunt ipsam, nisi non officia officiis perferendis porro quam quibusdam tempore vero voluptatem!</p>
	</div>
</div>